/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/*helper colors
.main-header {
  background-color: aquamarine;
}
.about {
  background-color: azure;
}
.link-section {
  background-color: beige;
}*/
body {
  background-image:url(assets/th.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover
}
/*tipography*/
body {
  font-size:1.125rem;
  line-height:1.5625rem;
  text-align: center;
}
.main-header {
  font-family: 'Lora', serif;
  color:darkslategrey;
  font-size:1rem;
}
h1 {
  font-size:1.5rem;
  letter-spacing:0.125rem;
}
p {
  font-size:1rem;
}
.about, .link-section {
  font-size:1rem;
  font-family: 'Merriweather', serif;
}
.link-section {
  color:purple;
}
a {
  color:purple;
}
/*pic*/
img {
  width:40%;
  height:auto;
  border-radius:50%;
  margin-top:0.5%;
  position:relative;
  top:2vh;
  transition: all 0.5s ease-in-out;
}
img:hover {
 transform:scale(1.1);
}
@media (min-width: 768px) {
  img {
    position: fixed;
    top: 0;
    left:0;
    border-radius:0%;
    height: 100%;
    width: auto;
    margin:0 0;
  }
  img:hover {
    transform:scale(1)
  }
}
/*deatils*/
.main-header {
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-color: hsla(0, 0%, 100%, .6);
  color:purple;
  font-weight: bold;
  padding-top:5%;
  border-radius:4px;
  border-bottom:2px solid green;
}
.about {
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-color: hsla(0, 0%, 100%, .6);
  border-radius: 4px;
  color:purple;
}
.link-section {
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-color: hsla(0, 0%, 100%, .6);
  border-radius: 4px;
  color:purple;
  font-weight: bold;
}
@media (min-width: 768px) {
  .main-header {
    position:fixed;
    top:25%;
    right:2%;
    width:30%;
    padding:1%;
    font-size:2rem;
  }
  h1 {
    font-size:2.5rem;
    color:purple;
  }
  .about {
    position:fixed;
    top:40%;
    right:2%;
    width:30%;
  }
  .link-section {
    position:fixed;
    bottom:0;
    right:0;
    width:53%;
    margin-left:0;
    margin-right:0;
  }
}
/*effects*/
a:hover {
  color:orangered;
}


